@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Marck+Script&display=swap');

:root {
    --superlarge__font: 100px;
    --large__font     : 45px;
    --logo__size      : 30px;
    --medium__font    : 16px;
    --small__font     : 13.25px;
    --verysmall__font : 11.25px;

    --regular__font   : 'Manrope';
    --second__font    : 'Chivo Mono';
    --logo__font-1    : 'Courgette';
    --logo__font-2    : 'Marck Script';

    --black           : #000000;
    --white           : #ffffff;
    --black__color    : #1d1d1d;
    --white__color    : #f5f5f5;
    --orange__color   : orangered;
    --purple__color   : #7c75ff;
    --gray__color     : #4d4d4d;
}

::-webkit-scrollbar {
    width: 5px;
    background: var(--gray__color);
}
::-webkit-scrollbar-thumb {
    background: var(--white__color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--regular__font);
    scroll-behavior: smooth;
}