.app__work {
    background: var(--black__color);
    border-radius: 16px 16px / 30px 30px;
    min-height: 850vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding: 25rem 0 12rem;
}

.app__work .text-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}
.app__work .text-content h1 {
    color: var(--white__color);
    font-size: var(--superlarge__font);
    line-height: var(--superlarge__font);
    font-family: var(--second__font);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    mix-blend-mode: difference;
    position: relative;
}
.app__work .text-content h1 span {
    color: var(--orange__color);
}
.app__work .text-content h1::after {
    position: absolute;
    content: '02';
    top: -26px;
    right: -16.25px;
    font-size: var(--small__font);
    color: var(--white__color);
    mix-blend-mode: difference;
}

.app__work .works-container .work .work-background {
    width: 100%;
    max-width: 300px;
    aspect-ratio: .7;
    border-radius: 12px;
    position: relative;
}
.app__work .works-container .work .work-background img { 
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}
.app__work .works-container .work .work-background label {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    font-size: 18px;
    background: var(--orange__color);
    color: var(--white__color);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.app__work .works-container .work .work-background p {
    position: absolute;
    top: 3rem;
    right: 0;
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    background: var(--white__color);
    color: var(--black__color);
    padding: 1rem .5rem;
    font-size: var(--small__font);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}
.app__work .works-container .work .work-background label:hover + p {
    opacity: 1;
    visibility: visible;
}

.app__work .works-container .work .work-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app__work .works-container .work .work-info p {
    color: var(--white__color);
    font-size: var(--small__font);
}
.app__work .works-container .work .work-info p:nth-child(1) {
    position: relative;
    margin-left: 1rem;
}
.app__work .works-container .work .work-info p:nth-child(1)::before {
    position: absolute;
    content: '';
    left: -1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--white__color);
}

.app__work .works-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.app__work .works-container .work {
    position: absolute;
    text-decoration: none;
}
.app__work .works-container .work-1 {
    left: 5rem;
    top: 80vh;
}
.app__work .works-container .work-2 {
    top: calc(150vh + 300px);
    right: 50%;
    transform: translateX(50%);
}
.app__work .works-container .work-3 {
    top: calc(280vh + 300px);
    left: 5rem;
}
.app__work .works-container .work-4 {
    top: calc(300vh + 300px);
    right: 5rem;
}
.app__work .works-container .work-5 {
    top: calc(450vh + 300px);
    right: 50%;
    transform: translateX(50%);
    z-index: 4;
}
.app__work .works-container .work-6 {
    bottom: 130vh;
    right: 10rem;
    z-index: 4;
}
.app__work .works-container .work-7 {
    bottom: 140vh;
    left: 10rem;
}



@media screen and (width <= 1060px) {
    .app__work {
        padding: 2rem 0;
        min-height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
    }
    
    .app__work .text-content {
        position: static;
        transform: translateY(0);
    }
    .app__work .text-content h1 {
            font-size: calc(var(--superlarge__font) - 20px);
            line-height: calc(var(--superlarge__font) - 20px);
    }

    .app__work .works-container {
        position: static;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4rem 2rem;
        padding: 0 3rem;
    }
    .app__work .works-container .work {
        position: static;
        width: max-content;
        transform: translate(0);
    }
}
@media screen and (width <= 900px) {
    .app__work .text-content h1 {
        font-size: calc(var(--superlarge__font) - 32px);
        line-height: calc(var(--superlarge__font) - 32px);
    }
}
@media screen and (width <= 707px) {
    .app__work .text-content h1 {
        font-size: calc(var(--superlarge__font) - 42px);
        line-height: calc(var(--superlarge__font) - 42px);
    }
}
@media screen and (width <= 602px) {
    .app__work .text-content h1 {
        font-size: calc(var(--superlarge__font) - 52px);
        line-height: calc(var(--superlarge__font) - 52px);
        word-spacing: 8px;
    }
}
@media screen and (width <= 500px) {
    .app__work .text-content h1 {
        font-size: 40px;
        line-height: 40px;
        word-spacing: -8px;
    }
}