.app__banner {
    background: var(--black__color);
    border-radius: 16px 16px / 30px 30px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 3000px;
    position: relative;
}

.app__banner .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.app__banner .text-content h1 {
    color: var(--white__color);
    font-size: var(--superlarge__font);
    line-height: var(--superlarge__font);
    font-family: var(--second__font);
    text-transform: uppercase;
    font-weight: 400;
    word-spacing: 15px;
    text-align: center;
}

.app__banner .text-content p {
    color: var(--white__color);
    font-size: var(--small__font);
    text-align: center;
}

.app__banner .text-content a {
    width: max-content;
    padding: .75rem 2rem;
    text-decoration: none;
    border-radius: 12px;
    border: 1.5px solid var(--orange__color);
    color: var(--white__color);
    background: var(--orange__color);
    font-size: 24px;
    transition: .3s;
    position: relative;
}
.app__banner .text-content a:hover {
    color: var(--orange__color);
    background: transparent;
}
.app__banner .text-content a::before {
    position: absolute;
    content: '';
    left: .25rem;
    bottom: .25rem;
    width: 10px;
    height: 5px;
    border-left: 3px solid var(--white__color);
    border-bottom: 3px solid var(--white__color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 3px;
    filter: drop-shadow(0 0 10px var(--white__color));
    opacity: .8;
    transition: .3s;
}
.app__banner .text-content a:hover::before {
    border-left-color: var(--orange__color);
    border-bottom-color: var(--orange__color);
    filter: drop-shadow(0 0 10px var(--orange__color));
}

.app__banner .gallery-container .image {
    background: red;
    position: absolute;
    border-radius: 12px;
    overflow: hidden;
}
.app__banner .gallery-container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app__banner .gallery-container .image-a {
    left: 5%;
    top: 6rem;
    width: clamp(200px, 25%, 400px);
    aspect-ratio: 1.4;
}
.app__banner .gallery-container .image-b {
    right: 5%;
    top: 18rem;
    width: clamp(90px, 25%, 140px);
    aspect-ratio: .4;
}
.app__banner .gallery-container .image-c {
    left: 5%;
    top: 30rem;
    width: clamp(100px, 25%, 240px);
    aspect-ratio: 1;
    z-index: 3;
}

.app__banner .gallery-container .image-1 {
    left: 5%;
    top: 56rem;
    width: clamp(100px, 30%, 230px);
    aspect-ratio: .8;
}
.app__banner .gallery-container .image-2 {
    right: 10%;
    top: 100rem;
    width: clamp(150px, 30%, 200px);
    aspect-ratio: 1;
}
.app__banner .gallery-container .image-3 {
    right: 50%;
    transform: translateX(50%);
    top: 80rem;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 2;
    z-index: 3;
}

.app__banner .gallery-container .image-A {
    left: 5%;
    top: 120rem;
    width: clamp(120px, 20%, 260px);
    height: 200px;
}
.app__banner .gallery-container .image-C {
    right: 10%;
    bottom: 30rem;
    width: clamp(130px, 20%, 300px);
    aspect-ratio: .9;
    z-index: 3;
}
.app__banner .gallery-container .image-D {
    left: 5%;
    bottom: 5rem;
    width: clamp(210px, 30%, 350px);
    aspect-ratio: 1.5;
}



@media screen and (width <= 1060px) {
    .app__banner .text-content h1 {
        font-size: calc(var(--superlarge__font) - 20px);
        line-height: calc(var(--superlarge__font) - 20px);
    }
}
@media screen and (width <= 900px) {
    .app__banner .text-content h1 {
        font-size: calc(var(--superlarge__font) - 32px);
        line-height: calc(var(--superlarge__font) - 32px);
    }
}
@media screen and (width <= 707px) {
    .app__banner .text-content h1 {
        font-size: calc(var(--superlarge__font) - 42px);
        line-height: calc(var(--superlarge__font) - 42px);
    }
}
@media screen and (width <= 602px) {
    .app__banner .text-content h1 {
        font-size: calc(var(--superlarge__font) - 52px);
        line-height: calc(var(--superlarge__font) - 52px);
        word-spacing: 8px;
    }
}
@media screen and (width <= 500px) {
    .app__banner .text-content h1 {
        font-size: 36px;
        line-height: 36px;
        word-spacing: -8px;
    }

    .app__banner .gallery-container .image-b {
        top: 27rem;
    }
    .app__banner .gallery-container .image-c {
        top: 35rem;
    }
}