.app__banner {
    background: var(--black__color);
    border-radius: 16px 16px / 30px 30px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 400vh;
    position: relative;
}

.app__banner .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.app__banner .text-content h1 {
    color: var(--white__color);
    font-size: var(--superlarge__font);
    line-height: var(--superlarge__font);
    font-family: var(--second__font);
    font-weight: 400;
    word-spacing: -20px;
    text-transform: uppercase;
    text-align: center;
}

.app__banner .text-content p {
    color: var(--white__color);
    font-size: var(--small__font);
    text-align: center;
}

.app__banner .text-content a {
    width: max-content;
    padding: .75rem 2rem;
    text-decoration: none;
    border-radius: 12px;
    border: 1.5px solid var(--orange__color);
    color: var(--white__color);
    background: var(--orange__color);
    font-size: 24px;
    transition: .3s;
    position: relative;
}
.app__banner .text-content a:hover {
    color: var(--orange__color);
    background: transparent;
}
.app__banner .text-content a::before {
    position: absolute;
    content: '';
    left: .25rem;
    bottom: .25rem;
    width: 10px;
    height: 5px;
    border-left: 3px solid var(--white__color);
    border-bottom: 3px solid var(--white__color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 3px;
    filter: drop-shadow(0 0 10px var(--white__color));
    opacity: .8;
    transition: .3s;
}
.app__banner .text-content a:hover::before {
    border-left-color: var(--orange__color);
    border-bottom-color: var(--orange__color);
    filter: drop-shadow(0 0 10px var(--orange__color));
}

.app__banner .gallery-container .image {
    position: absolute;
    border-radius: 12px;
    overflow: hidden;
}
.app__banner .gallery-container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** AN ISSUE HERE TO CHECK */
.app__banner .gallery-container .image-a {
    top: 6rem;
    width: clamp(120px, 25%, 360px);
    height: 240px;
    left: 20%;
    transform: translateX(-50%);
}
/** AN ISSUE HERE TO CHECK */
.app__banner .gallery-container .image-b {
    height: 300px;
    width: clamp(90px, 25%, 140px);
    right: 15%;
    transform: translateX(50%);
    top: 12rem;
}
/** AN ISSUE TO CHECK HERE  */
.app__banner .gallery-container .image-c {
    top: calc(100vh - 5rem);
    width: clamp(100px, 25%, 240px);
    height: 160px;
    left: 20%;
    transform: translateX(-50%);
    z-index: 3;
}

.app__banner .gallery-container .image-1 {
    left: 10%;
    top: calc(150vh + 3rem);
    height: 200px;
    width: clamp(100px, 30%, 150px);
}
.app__banner .gallery-container .image-2 {
    right: 10%;
    top: calc(200vh + 6.5rem);
    width: 140px;
    height: 220px;
}
.app__banner .gallery-container .image-3 {
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    max-width: 300px;
    width: 100%;
    z-index: 3;
}

.app__banner .gallery-container .image-A {
    left: 15%;
    bottom: 35rem;
    width: clamp(120px, 20%, 260px);
    height: 200px;
    transform: translateX(-50%);
}
.app__banner .gallery-container .image-C {
    right: 10%;
    bottom: 30rem;
    height: 250px;
    width: clamp(130px, 20%, 300px);
    z-index: 3;
}
.app__banner .gallery-container .image-D {
    bottom: 5rem;
    right: 20%;
    transform: translateX(50%);
    height: 250px;
}



@media screen and (width <= 1060px) {
    .app__banner .text-content h1 {
        font-size: calc(var(--superlarge__font) - 20px);
        line-height: calc(var(--superlarge__font) - 20px);
    }
}
@media screen and (width <= 900px) {
    .app__banner .text-content h1 {
        font-size: calc(var(--superlarge__font) - 32px);
        line-height: calc(var(--superlarge__font) - 32px);
    }
}
@media screen and (width <= 675px) {
    .app__banner .text-content h1 {
        font-size: calc(var(--superlarge__font) - 42px);
        line-height: calc(var(--superlarge__font) - 42px);
    }
}
@media screen and (width <= 575px) {
    .app__banner .text-content h1 {
        font-size: calc(var(--superlarge__font) - 52px);
        line-height: calc(var(--superlarge__font) - 52px);
        word-spacing: -12px;
    }
}
@media screen and (width <= 500px) {
    .app__banner .text-content h1 {
        font-size: 40px;
        line-height: 40px;
    }
}