.app__banner {
    background: var(--black__color);
    border-radius: 16px 16px / 30px 30px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 400vh;
    position: relative;
}

.app__banner .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.app__banner .text-content h1 {
    color: var(--white__color);
    font-size: var(--superlarge__font);
    line-height: var(--superlarge__font);
    font-family: var(--second__font);
    font-weight: 400;
    padding: 0 4rem;
    word-spacing: -20px;
    text-transform: uppercase;
    text-align: center;
}

.app__banner .text-content p {
    color: var(--white__color);
    font-size: var(--small__font);
    text-align: center;
}

.app__banner .text-content a {
    width: max-content;
    padding: .75rem 2rem;
    text-decoration: none;
    border-radius: 12px;
    border: 1.5px solid var(--orange__color);
    color: var(--white__color);
    background: var(--orange__color);
    font-size: 24px;
    transition: .3s;
    position: relative;
}
.app__banner .text-content a:hover {
    color: var(--orange__color);
    background: transparent;
}
.app__banner .text-content a::before {
    position: absolute;
    content: '';
    left: .25rem;
    bottom: .25rem;
    width: 10px;
    height: 5px;
    border-left: 3px solid var(--white__color);
    border-bottom: 3px solid var(--white__color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 3px;
    filter: drop-shadow(0 0 10px var(--white__color));
    opacity: .8;
    transition: .3s;
}
.app__banner .text-content a:hover::before {
    border-left-color: var(--orange__color);
    border-bottom-color: var(--orange__color);
    filter: drop-shadow(0 0 10px var(--orange__color));
}

.app__banner .gallery-container .image {
    position: absolute;
    border-radius: 12px;
    overflow: hidden;
}
.app__banner .gallery-container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app__banner .gallery-container .image-a {
    top: 6rem;
    width: 360px;
    height: 240px;
    left: 20%;
    transform: translateX(-50%);
}
.app__banner .gallery-container .image-b {
    height: 300px;
    width: 140px;
    right: 5rem;
    top: 12rem;
}
.app__banner .gallery-container .image-c {
    top: calc(100vh - 5rem);
    width: 240px;
    height: 160px;
    left: 20%;
    transform: translateX(-50%);
    z-index: 3;
}

.app__banner .gallery-container .image-1 {
    left: 8rem;
    top: calc(150vh + 6rem);
    height: 200px;
    width: 140px;
}
.app__banner .gallery-container .image-2 {
    right: 8rem;
    top: calc(200vh + 6rem);
    width: 140px;
    height: 220px;
}
.app__banner .gallery-container .image-3 {
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 300px;
    z-index: 3;
}

.app__banner .gallery-container .image-A {
    left: 4rem;
    bottom: 35rem;
    width: 250px;
}
.app__banner .gallery-container .image-C {
    right: 4rem;
    bottom: 35rem;
    width: 250px;
    z-index: 3;
}
.app__banner .gallery-container .image-D {
    bottom: 5rem;
    right: 14rem;
    height: 250px;
}